%h1 Approval

%table.table#movies
  %thead
    %tr
      %th.col-sm-8= Movie.human_attribute_name :title
      %th
  %tbody
    - @movies.each do |movie|
      %tr{id: dom_id(movie)}
        %td= link_to movie.title, movie
        %td
          = link_to t('movies.actions.approve'), approve_movie_path(movie),
            method: :patch, class: 'btn btn-success btn-xs btn-outline',
            data: { confirm: t(:are_you_sure) }
          = link_to t('movies.actions.reject'), reject_movie_path(movie),
            method: :patch, class: 'btn btn-danger btn-xs btn-outline',
            data: { confirm: t(:are_you_sure) }
